<h1>Конвертер валют</h1>

<form method="POST" action="">
    {% csrf_token %}
    <label for="amount">Количество:</label>
    <input type="number" step="0.01" name="amount" required><br><br>

    <label for="base_currency">Переводимая валюта:</label>
    <select name="base_currency" required>
        <option value="RUB" selected>Российский рубль (RUB)</option>
        <option value="AUD">Австралийский доллар (AUD)</option>
        <option value="AZN">Азербайджанский манат (AZN)</option>
        <option value="AMD">Армянских драмов (AMD)</option>
        <option value="BYN">Белорусский рубль (BYN)</option>
        <option value="BGN">Болгарский лев (BGN)</option>
        <option value="BRL">Бразильский реал (BRL)</option>
        <option value="HUF">Венгерских форинтов (HUF)</option>
        <option value="KRW">Вон Республики Корея (KRW)</option>
        <option value="VND">Вьетнамских донгов (VND)</option>
        <option value="HKD">Гонконгский доллар (HKD)</option>
        <option value="GEL">Грузинский лари (GEL)</option>
        <option value="DKK">Датская крона (DKK)</option>
        <option value="AED">Дирхам ОАЭ (AED)</option>
        <option value="USD">Доллар США (USD)</option>
        <option value="EUR">Евро (EUR)</option>
        <option value="EGP">Египетских фунтов (EGP)</option>
        <option value="INR">Индийских рупий (INR)</option>
        <option value="IDR">Индонезийских рупий (IDR)</option>
        <option value="KZT">Казахстанских тенге (KZT)</option>
        <option value="CAD">Канадский доллар (CAD)</option>
        <option value="QAR">Катарский риал (QAR)</option>
        <option value="KGS">Киргизских сомов (KGS)</option>
        <option value="CNY">Китайский юань (CNY)</option>
        <option value="MDL">Молдавских леев (MDL)</option>
        <option value="NZD">Новозеландский доллар (NZD)</option>
        <option value="TMT">Новый туркменский манат (TMT)</option>
        <option value="NOK">Норвежских крон (NOK)</option>
        <option value="PLN">Польский злотый (PLN)</option>
        <option value="RON">Румынский лей (RON)</option>
        <option value="XDR">СДР (XDR)</option>
        <option value="RSD">Сербских динаров (RSD)</option>
        <option value="SGD">Сингапурский доллар (SGD)</option>
        <option value="TJS">Таджикских сомони (TJS)</option>
        <option value="THB">Таиландских батов (THB)</option>
        <option value="TRY">Турецких лир (TRY)</option>
        <option value="UZS">Узбекских сумов (UZS)</option>
        <option value="UAH">Украинских гривен (UAH)</option>
        <option value="GBP">Фунт стерлингов Соединенного королевства (GBP)</option>
        <option value="CZK">Чешских крон (CZK)</option>
        <option value="SEK">Шведских крон (SEK)</option>
        <option value="CHF">Швейцарский франк (CHF)</option>
        <option value="ZAR">Южноафриканских рэндов (ZAR)</option>
        <option value="JPY">Японских иен (JPY)</option>
    </select><br><br>

    <label for="target_currency">Целевая валюта:</label>
    <select name="target_currency" required>
        <option value="RUB">Российский рубль (RUB)</option>
        <option value="AUD">Австралийский доллар (AUD)</option>
        <option value="AZN">Азербайджанский манат (AZN)</option>
        <option value="AMD">Армянских драмов (AMD)</option>
        <option value="BYN">Белорусский рубль (BYN)</option>
        <option value="BGN">Болгарский лев (BGN)</option>
        <option value="BRL">Бразильский реал (BRL)</option>
        <option value="HUF">Венгерских форинтов (HUF)</option>
        <option value="KRW">Вон Республики Корея (KRW)</option>
        <option value="VND">Вьетнамских донгов (VND)</option>
        <option value="HKD">Гонконгский доллар (HKD)</option>
        <option value="GEL">Грузинский лари (GEL)</option>
        <option value="DKK">Датская крона (DKK)</option>
        <option value="AED">Дирхам ОАЭ (AED)</option>
        <option value="USD">Доллар США (USD)</option>
        <option value="EUR">Евро (EUR)</option>
        <option value="EGP">Египетских фунтов (EGP)</option>
        <option value="INR">Индийских рупий (INR)</option>
        <option value="IDR">Индонезийских рупий (IDR)</option>
        <option value="KZT">Казахстанских тенге (KZT)</option>
        <option value="CAD">Канадский доллар (CAD)</option>
        <option value="QAR">Катарский риал (QAR)</option>
        <option value="KGS">Киргизских сомов (KGS)</option>
        <option value="CNY">Китайский юань (CNY)</option>
        <option value="MDL">Молдавских леев (MDL)</option>
        <option value="NZD">Новозеландский доллар (NZD)</option>
        <option value="TMT">Новый туркменский манат (TMT)</option>
        <option value="NOK">Норвежских крон (NOK)</option>
        <option value="PLN">Польский злотый (PLN)</option>
        <option value="RON">Румынский лей (RON)</option>
        <option value="XDR">СДР (XDR)</option>
        <option value="RSD">Сербских динаров (RSD)</option>
        <option value="SGD">Сингапурский доллар (SGD)</option>
        <option value="TJS">Таджикских сомони (TJS)</option>
        <option value="THB">Таиландских батов (THB)</option>
        <option value="TRY">Турецких лир (TRY)</option>
        <option value="UZS">Узбекских сумов (UZS)</option>
        <option value="UAH">Украинских гривен (UAH)</option>
        <option value="GBP" selected>Фунт стерлингов Соединенного королевства (GBP)</option>
        <option value="CZK">Чешских крон (CZK)</option>
        <option value="SEK">Шведских крон (SEK)</option>
        <option value="CHF">Швейцарский франк (CHF)</option>
        <option value="ZAR">Южноафриканских рэндов (ZAR)</option>
        <option value="JPY">Японских иен (JPY)</option>
    </select><br><br>

    <input type="submit" value="Конвертировать">
</form>
